/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */


*, *:before, *:after{
	box-sizing: border-box;
}

img{
	max-width: 100%;
	height: auto;
}
/* important setting above */

.wrap{
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1080px;
	/* responsive */
	margin: 0 auto;
}

.social{
	background: #f6f6f6;
	color: blue;
	height: 31px;
}

.socList{
	float: right;
}

.socList > li{
	float: left;
	text-decoration: none;
	padding: 5px 3px;
}

.facebook > a{
	padding-right: 4px;
	border-right: 1.5px solid grey;
}

.socList img{
	padding: 2px 0 0 0;
}

.socList a{
	text-decoration: none;
}

.clearfix{
	clear: both;
}

.logo{
	float: left;
	background: url(../img/hexLogo.png) no-repeat;
	margin: 10px 20px;
}

.logo a{
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 173px;
	height: 36px;
}

.nav{
	margin: 2px 0;
}

.menu{
	float: right;
	text-align: center;
}

.menu a{
	color: #00CC99;
	text-decoration: none;
}

.menu ul > li{
	float: left;
	padding: 20px;
	width: 100px;
	position: relative;
}

.menu ul > li:hover{
	background: #00CC99;
}
/* 第一層li項目被掃到時，背景轉成綠色 */

.menu ul > li:hover > a{
	color: white;
}
/* 第一層li項目內被掃到時，內部的文字轉成白色 */

.dropdownLi ul{
	position: absolute;
	left: 0;
	top: 56px;
	z-index: 15;
	background: white;
	display: none;
}
/* 第二層的ul設定，去抓第一層的li作為錨點，使用絕對定位，並用z設定讓其高於下面div，背景為白色，先隱藏 */

.menu li li:hover a{
	color: white;
}
/* 當第二層li被掃到時，其內部文字轉成白色 */

.dropdownLi ul li:hover{
	background: brown;
}

.dropdownLi ul.active{
	display: block;
}
/* 搭配js動畫，當ul轉為active時，就會出現 */

.banner{
	position: relative;
	margin-bottom: 20px;
	max-width: 1080px;
}

.bannerText{
	background: rgba(255, 255, 255, 0.15);
	z-index: 3;
	position: absolute;
	top: 200px;	
	width: 100%;
}

.bannerText h1{
	font-size: 36px;
	padding: 20px;	
	color: white;
}

.banner img{
	max-width: 1080px;
}

.swiper-container {
    max-width: 1080px;
    height: 480px;
}

.course{
	line-height: 1.5;
	margin-bottom: 20px;
}

.courseList > li{
	width: 30%;
	height: 380px;
	float: left;
	padding: 1.2%;
	margin: 20px 1.5% 30px 1.5%;
	box-shadow: 0 5px 5px lightgray;
}

.courseList h2{
	text-align: center;
	line-height: 36px;
	font-size: 24px;
}

.courseList img{
	display: block;
	/* 要設為block，才能吃到margin設定 */
	margin: 5px auto;
}

.jQItem li{
	list-style-type: square;
	list-style-position: inside;
	/* 預設值是outside，inside會縮排 */
}
.compare{
	margin: 20px 100px;
}
.compare h2{
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}

.diff{
	margin: 10px 0;
}

.diff th{
	width: 220px;
	background: #f7f7f7;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
}

.diff td{
	padding: 10px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;

}

.emp{
	color: #42b392;
}

.contactSec{
	background: linear-gradient(#00644b, #009772);
	color: white;
	position: relative;
}

.getInt{
	font-size: 30px;
	text-align: center;
	padding: 20px;
	line-height: 1.5;
}

#commentArea{
	margin: 20px 2%;
	width: 46%;
	height: 280px;
	border-radius: 5px;
}

.formComment input, .formComment label{
	margin: 2px 0px 10px 5px;
}

.personInfo{
	float: right;
	margin: 20px 8% 0 0;
	width: 40%;
}

label{
	margin: 10px 0;
	border-radius: 5px;
	padding: 0 3px;
	display: block;
}

input{
	width: 100%;
	padding: 3px;
	border-radius: 5px;
}

.submit{
	background: #00644b;
	color: white;
	border: none;
	font-size: 16px;
	height: 30px;
	width: 150px;
	position: absolute;
	bottom: 30px;
	right: 90px;
	border-radius: 5px;
}

.submit:hover{
	background: #42b392;
}

.footer{
	margin: 35px 20px;
}

.contactUs{
	float: right;
	line-height: 1.5;
}

.contactUs span{
	color: #e12d80;
}

.backBtn{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px lightgray;
	position: fixed;
	right: 10px;
	bottom: 10px;

}

.backBtn a{
	font-size: 30px;
	text-decoration: none;
	display: block;
	padding: 15px;
	color: lightgray;
	opacity: 0.5;
}

.backBtn a:hover{
	opacity: 1;
}

/* CSS for tablet layout below */
@media(max-width: 768px){

	.logo{
		float: none;
		background-position: center;
	}
	/* logo置中 */

	.menu{
		float: none;
		max-width: 768px;
	}
	.menu ul > li{
		float: none;
		padding: 0;
		width: 100%;
		/* li寬度擴增，要先讓.menu吃max-width設定，再設定其為100% */
	}
	.dropdownLi ul{
		position: static;
		background: white;
		display: none;
	}
	.dropdownLi > a{
		display: block;
		padding: 20px 0;
	}
	.dropdownLi ul li{
		padding: 20px 0;
	}
	.dropdownLi ul li:active{
		background: brown;
	}
	/* 選單平板在寬度以下，變成單欄上下排列 */

	.courseList > li{
		width: 80%;
		height: auto;
		float: none;
		margin: 15px auto;
	}
	.course{
		margin-bottom: 30px;
	}
	/* 產品框隨文字自動下推 */

	#commentArea{
		margin: 20px 5%;
		width: 90%;
	}
	.personInfo{
		float: none;
		margin: 10px 5%;
		width: 90%;
	}

	.submitDiv{
		padding: 30px 0 80px 0;
	}
	.submit{
		height: 50px;
		width: 100%;
		position: static;
	}


}
/* CSS for smartphone layout below */
@media(max-width: 375px){

}